<form *ngIf="address$ | async as Address" class="form-horizontal">
  <fieldset [formGroup]="Form">
    <div class="control-group">
      <label class="control-label" for="adr_line1">Street Address</label>
      <div class="controls">
        <input type="text" id="adr_line1" placeholder="street address line 1" formControlName="adr_line1" required>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="text" id="adr_line2" placeholder="street address line 2" formControlName="adr_line2">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="adr_city">City</label>
      <div class="controls">
        <input type="text" id="adr_city" placeholder="city" formControlName="adr_city" required>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="adr_state">State</label>
      <div class="controls">
        <input type="text" id="adr_state" placeholder="state" formControlName="adr_state" required maxlength="2">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="adr_post_code">Zip</label>
      <div class="controls">
        <input type="text" id="adr_post_code" placeholder="00000" formControlName="adr_post_code" required>
      </div>
    </div>
    <app-profile-save Type="adr" [Data]="Form.value" (Start)="onSaveStart($event)" (Complete)="onSaveComplete($event)"></app-profile-save>
  </fieldset>
</form>
