<h1>Directory</h1>

<p>
  <label for="column">Sort:</label> <select id="sort" [(ngModel)]="column">
    <option value="ind_first_name">First Name</option>
    <option value="ind_last_name">Last Name</option>
  </select>

  <label for="filter">Filter State:</label> <input type="text" id="filter" maxlength="2" minlength="2" [(ngModel)]="filter">
</p>

<div *ngIf="directory$ | async as Directory; else loading">
  <div class="row-fluid" *ngFor="let chunks of Directory | filter:'adr_state':filter:column | sort:column:filter | chunk:3:filter:column">
    <app-directory-item *ngFor="let member of chunks" class="span4" [Member]="member"></app-directory-item>
  </div>
</div>

<ng-template #loading>
  <p>loading...</p>
</ng-template>
